[project]
	description = A parallax scrolling responsive framework
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vladyslav Ushakov (Appius)
[access "refs/for/refs/*"]
	read = group user/Vladyslav Ushakov (Appius)
	push = group user/Vladyslav Ushakov (Appius)
	label-Code-Review = -2..+2 group user/Vladyslav Ushakov (Appius)
	label-Verified = -1..+1 group user/Vladyslav Ushakov (Appius)
	rebase = group user/Vladyslav Ushakov (Appius)
	removeReviewer = group user/Vladyslav Ushakov (Appius)
	submit = group user/Vladyslav Ushakov (Appius)
[access "refs/heads/*"]
	read = group user/Vladyslav Ushakov (Appius)
	create = group user/Vladyslav Ushakov (Appius)
	push = +force group user/Vladyslav Ushakov (Appius)
	pushMerge = group user/Vladyslav Ushakov (Appius)
[access "refs/tags/*"]
	push = +force group user/Vladyslav Ushakov (Appius)
	createTag = group user/Vladyslav Ushakov (Appius)
	createSignedTag = group user/Vladyslav Ushakov (Appius)
